{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
 
 <div class="col-sm-10">
 	<h3 class="text-white my-5">About Page</h3>
 	<p> Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. The passage is attributed to an unknown typesetter in the 15th century who is thought to have scrambled parts of Cicero's De Finibus Bonorum et Malorum for use in a type specimen book.
People also ask </p>
 	<p> Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. The passage is attributed to an unknown typesetter in the 15th century who is thought to have scrambled parts of Cicero's De Finibus Bonorum et Malorum for use in a type specimen book.
People also ask</p>
 	
 </div>


{% endblock content %}

